/*
    Created on : Jul 1, 2019, 6:01:26 PM
    Author     : Click&Pledge
*/
.page_break {
  margin-top: 20px;
}

.cnpc_hide_show_buttons {
  display: none;
}

select[id^='cnpc_camp_list'] {
  width: 200px;
}

input[id^='formguid_'] {
  width: 168px;
}

.cnpc-edit-form-group .cnpcstartdate,
.cnpc-edit-form-group .cnpcenddate {
  width: 174px;
}

img[id^='imgloader_'] {
  padding-left: 10px;
  position: absolute;
  height: 24px;
  width: 24px;
}

#addchannelrows {
  float: right;
  border: 1px solid #d4d4d4;
  padding: 3px 10px;
  border-radius: 3px;
}

.cnpc_settings_form {
  display: none;
}

.deleteRec {
  display: none;
}

.overlay_wrapper,
.form-item-files-cnpc-upload-image {
  display: none;
}
/*POPUP CSS Start*/

/* The Modal (background) */
.cnpc-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content */

.cnpc-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}


/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}


/* The Close Button */

.cnpc-close {
  color: #999;
  float: right;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 50px;
  padding: 0px 4px;
  margin-top: 9px;
}

.cnpc-close:hover,
.cnpc-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cnpc-modal-header {
  padding: 2px 16px;
  background-color: #efefef;
  color: white;
}

.cnpc-modal-header h2 {
  color: #666;
}

.cnpc-modal-body {
  padding: 2px 16px;
}

.cnpc-modal-footer {
  padding: 2px 16px;
  background-color: #efefef;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
}

.cnpc-form-group {
  padding: 2px;
}

.cnpc-form-group textarea {
  width: 100%;
  min-height: 120px;
  height: auto;
  margin-top: 8px;
  border-radius: 4px;
  padding: 4px;
}

.cnpc-modal-footer button {
  float: right;
  margin: 2px;
  padding: 8px 16px;
  border-radius: 4px;
}

.cnpc-modal-footer input[type='submit'] {
  margin: 2px;
}

.popupsavebtn {
  background: #0071b8;
  color: #fff;
  border: 1px solid #d4d4d4;
}

.popupsavebtn:hover {
  background: #1490dc;
  cursor: pointer;
}

.popupclosebtn {
  background: #fcfcfa;
  color: #666;
  border: 1px solid #d4d4d4;
}

.popupclosebtn:hover {
  background: #f1f3f3;
  cursor: pointer;
}

.savemsg {
  padding: 20px;
  border: 1px solid #999;
  background: #efefef;
  border-radius: 4px;
  display: none;
}

.savemsg p {
  text-align: center;
  color: green;
}

.cnpc-form-group label {
  color: #666;
}


/*POPUP CSS End*/

.cnpcform-invalid {
  border-color: #dc3232!important;
  box-shadow: 0 0 2px rgba(204, 0, 0, .8);
}

.cnpc_error_msg {
  padding: 20px;
}

.cnpc_error {
  border: 1px solid #a40000;
  border-left: 4px solid #a40000;
}

.cnpc_success {
  border: 1px solid green;
  border-left: 4px solid green;
}

.cnpc-danger {
  width: 200px;
  color: #a40000;
}

.cnpc-popup-success {
  padding: 10px;
  color: #0d4bfb;
  position: absolute;
  right: 15px;
}


/*CNP Menu*/

div.cnp_heading {
  padding: 0px 15px 0 15px;
  background: #e0e0d8;
  margin-bottom: 20px;
}

div.cnp_heading ul {
  list-style-type: none;
  width: 100%;
  position: relative;
  height: 27px;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 11px 0 0 0;
}

div.cnp_heading ul li {
  display: block;
  float: left;
  margin: 0 0 0 4px;
  height: 27px;
}

div.cnp_heading ul li.left {
  margin: 0;
}

div.cnp_heading ul li a {
  display: block;
  float: left;
  color: #fff;
  background: rgba(254, 80, 0, 0.8);
  line-height: 27px;
  text-decoration: none;
  padding: 0 17px 0 18px;
  height: 27px;
}

div.cnp_heading ul li a.right {
  padding-right: 19px;
}

div.cnp_heading ul li a:hover {
  background: rgba(254, 80, 0, 1);
}

div.cnp_heading ul li a.cnpccurrent {
  color: #2e4560;
  background: #fff;
}

div.cnp_heading ul li a.cnpccurrent:hover {
  color: #2e4560;
  background: #fff;
}

.cnpc_chnl_list {
  width: 400px;
}

.tablelist_group {
  margin-top: 30px;
}

.cnpcaccount-viewforms .tablelist_group {
  margin-top: 50px;
}

.cnpcaccount-viewchannels .tablelist_group {
  margin-top: 50px;
}

.cnpc_button_link_add {
  border: 2px solid;
  padding: 5px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.cnpc_button_link_add:hover {
  text-decoration: none;
}

#addrows {
  float: right;
  border: 1px solid #d4d4d4;
  padding: 3px 10px;
  border-radius: 3px;
}

#addrows:hover {
  text-decoration: none;
  background: #f3f5f6;
}

#addchannelrows:hover {
  text-decoration: none;
  background: #f3f5f6;
}

.cnpc_button_link_edit {
  text-decoration: none;
  font-weight: bold;
  float: right;
}

.cnpc_button_link_edit:hover {
  text-decoration: none;
}

.cnpc_button_link_bottom {
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  margin-top: 52px;
  right: 30px;
}

.formstatus,
.ptvformstatus {
  text-transform: capitalize;
}

.formstatus:hover,
.ptvformstatus:hover {
  text-decoration: none;
}


/*css file*/

.cnpc_question {
  background: #0085ba;
  height: 15px;
  width: 15px;
  color: #fff;
  padding: 0px 0px 2px 5px;
  border-radius: 50%;
  position: absolute;
  margin-left: 6px;
  font-size: 15px;
}

.cnpc_shortcode_tooltip {
  display: none;
  height: 116px;
  width: 276px;
  background: #f5e8a9;
  border: 1px solid #f1da6b;
  padding: 10px 15px 10px 15px;
  text-align: justify;
  text-transform: initial;
  position: absolute;
  margin-left: 110px;
  margin-top: -18px;
}

.cnpc_info_text {
  color: #291717;
}

.cnpctext-danger {
  width: 180px;
  margin: 0px;
  color: #a40000;
}

.cnpc_exists_error,
.cnpc_formexists_error,
.cnpc_channelexists_error {
  color: #a40000;
}

.cnpc-edit-channel-group .cnpcstartdate {
  width: 218px;
}

.cnpc-edit-channel-group .cnpcenddate {
  width: 218px;
}

.cnpc_form_list {
  width: 200px;
}

.cnpc-btn-center {
  margin: 0px auto;
  text-align: center;
}

.cnpc-account-settings-form input[value='Verify'] {
  background: rgba(254, 80, 0, 0.8);
  color: #fff;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 4px #000;
  left: 33%;
}

.cnpc-account-settings-form input[value='Verify']:hover {
  background: rgba(254, 80, 0, 0.9);
  box-shadow: 0px 0px 5px #000;
}

.cnpc-account-settings-form input[value='Save'] {
  background: rgba(254, 80, 0, 0.8);
  color: #fff;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 4px #000;
  left: 33%;
}

.cnpc-account-settings-form input[value='Save']:hover {
  background: rgba(254, 80, 0, 0.9);
  box-shadow: 0px 0px 5px #000;
}

.cnpc-myBtn,
.deleteRec {
  padding: 2px 4px;
  border: 1px solid;
  background: #efefef;
  border-radius: 3px;
}

.cnpc-myBtn:hover,
.deleteRec:hover {
  text-decoration: none;
  background: #e2e0e0;
}

.cnpform_type {
  text-transform: capitalize;
}

.cnpc_note_text {
  background: #efefef;
  padding: 0px 0px 18px 18px;
  margin: 0px;
}


/*css icons*/

.deleteRec img {
  position: relative;
  top: 6px;
}


/* ----- Icons Css ----------- */

.bin_icon {
  width: 16px;
  height: 16px;
  background-image: url(../images/bin.svg);
  color: #f00;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}

.bin_icon:hover {
  background-image: url(../images/bin_o.svg);
}

.edit_icon {
  width: 16px;
  height: 16px;
  background-image: url(../images/edit.svg);
  color: #f00;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}

.edit_icon:hover {
  background-image: url(../images/edit_o.svg);
}

.view_icon {
  width: 16px;
  height: 16px;
  background-image: url(../images/view.svg);
  color: #f00;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}

.view_icon:hover {
  background-image: url(../images/view_o.svg);
}

.refresh_icon {
  width: 16px;
  height: 16px;
  background-image: url(../images/refresh.svg);
  color: #f00;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}

.refresh_icon:hover {
  background-image: url(../images/refresh_o.svg);
}

.cnpc-regsymbol {
  font-size: 18px;
  line-height: normal;
  top: 0;
  vertical-align: initial;
  font-weight: normal;
}

sup {
  top: 0;
}

.cnpc_hide_show_buttons {
  text-align: center;
}

.cnpc_inital_buttons {
  text-align: center;
}

.cnpc_url_btn {
  float: left;
}

.cnpc_delete_btn {
  float: right;
}

.cnpc_delurl_btns {
  width: 80px;
  position: inherit;
}

#custrows tbody:first-child {
  background-color: #e2e2e2;
  padding: 2px;
}

#custrows {
  border: 1px solid #d4d4d4;
}

#custchnlrows tbody:first-child {
  background-color: #e2e2e2;
  padding: 2px;
}

#custchnlrows {
  border: 1px solid #d4d4d4;
}

@media only screen and (min-width: 1440px) {
  select[id^="cnpc_camp_list"] {
    width: auto;
  }
  .cnpc_form_list {
    width: 100%;
  }
  .cnpc-edit-form-group .cnpcstartdate,
  .cnpc-edit-form-group .cnpcenddate {
    width: 100%;
  }
  select[id^="formguid_"] {
    width: 100%;
  }
  .cnpc_chnl_list {
    width: 100%;
  }
  .cnpcaccount-add-channel-group .cnpcstartdate,
  .cnpcaccount-add-channel-group .cnpcenddate {
    width: 100%;
  }
  .cnpc-edit-channel-group .chnlstartdate,
  .cnpc-edit-channel-group .chnlenddate {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .cnpc_url_btn,
  .cnpc_delete_btn {
    float: none;
  }
}
