{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<div class='cnp_heading1'></div>
{{ form.cnpc_channel_group_name }}
{{ form.cnpc_channel_save_url }}
{{ form.base_url_cnpc }}
{{ form.cnpc_action }}
{{ form.cnpc_accounts }}
{{ form.cnpc_start_date_time }}
{{ form.cnpc_end_date_time }}
{{ form.cnpc_message }}
{{ form.cnpc_status }}
{{ form.cnpcchnl_counter }}
<div class='cnpc_settings_form' id='cnpc_settings_form'>
  <ol>
    <li>{{ 'Select your Channel, enter a start date and click SAVE.'|t }}</li>
    <li>{{ 'Copy the "shortcode" from pledgeTV'|t }}<sup class='cnpc-regsymbol'>&reg;</sup> {{ 'Channels page, to your Drupal page. Multiple Channels may be added. Channels will display in order of start date. If start dates overlap, the first Channel in the list will show first.'|t }}</li>
  </ol>
  <table id='custchnlrows'>
    <tr>
      <th>{{ 'Channel'|t }}</th>
      <th>{{ 'Start Date/Time'|t }}</th>
      <th>{{ 'End Date/Time'|t }}</th>
      <th>&nbsp;</th>
    </tr>
    <tbody id='dynachnlrows'></tbody>
  </table>
  <a href='#' id='addchannelrows'>{{ 'Add Channel'|t }}</a>
</div>
<div class='cnpc_inital_buttons'>
  {{form.save}}
  <a id='resetbtn' href='{{ path('cnpconnect.cnppledgetvchannels') }}' class='button button--reset js-form-submit form-submit'>{{ 'Close'|t }}</a>
</div>
<div class='cnpc_hide_show_buttons'>
  {{form.final_save}}
  <a href='{{ path('cnpconnect.cnppledgetvchannels') }}' class='button button--reset js-form-submit form-submit'>{{ 'Close'|t }}</a>
</div>