{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading">
  <ul>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<div class="cnpc_information">
  <div class="instructions">
    <p>{{ 'For quick start, follow these instructions'|t }}</p>
    <ol>
      <li>{{ 'Go to'|t }} <a href="cnp_formssettings">{{ 'Settings'|t }}</a> {{ 'page and add Click &amp; Pledge Account Number, Account GUID and Nickname. Find Account GUID in your Click &amp; Pledge CONNECT portal. Find out'|t }} <a href="https://support.clickandpledge.com/s/article/how-to-locate-account-id--api-account-guid" target="_blank"> {{ 'how'|t }}</a>.</li>
      <li>{{ 'Once the Account information is added, additional item (Click & Pledge) will appear on the left menu that allows you to add'|t }} <a href="add_form_group"><b>{{ 'Form'|t }}</b></a> {{ 'and'|t }} <a href="add_channel_group"><b>{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></b></a> {{ '"Channel Groups"'|t }}</li>
      <li>{{ 'After saving the Form Group details, a new table will appear on the same page where you may select one or more forms/TVchannels from different campaigns.'|t }} <br><small><strong>{{ 'Note:' }}</strong> {{ 'All campaigns and forms are retrieved from'|t }} <a href="https://connect.clickandpledge.com/" target="_blank">{{ 'Click &amp; Pledge CONNECT'|t }}</a>.</small></li>
    </ol>
    <p>{{ 'For step by step guide follow our manual'|t }} <a href="https://manual.clickandpledge.com/Click-Pledge-Connect-Module-2.html" target="_blank">{{ 'here'|t }}</a></p>
  </div>
</div>