{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<div class='cnp_heading1'></div>
{{ form.cnpc_form_group_name }}
{{ form.base_url_cnpc }}
{{ form.cnpc_form_save_url }}
{{ form.cnpc_action }}
<div id='cnpc_myModal' class='cnpc-modal'>
  <div class='cnpc-modal-content'>
    <div class='cnpc-modal-header'>
      <span class='cnpc-close'>&times;</span>
      <h2>{{ 'URL Parameter(s)'|t }}</h2>
    </div>
    <div class='cnpc-modal-body'>
      <div class='cnpc-form-group-params'>
        {{form.cnpc_params_textarea}}
      </div>
    </div>
    <div class='cnpc-modal-footer'>
      <div>{{ form.cnpc_params_button_add }}</div>
      <div>{{ form.cnpc_params_button_close }}</div>
      <div>{{ form.cnpc_params_button_saveclose }}</div>
    </div>
    <p class='cnpc_note_text'><b>{{ 'Note:'|t }}</b> {{ 'Separate with ampersand (&)'|t }} <a target='_blank' href='https://support.clickandpledge.com/s/article/connect-url-parameters1'><b>{{ 'Read More...'|t }}</b></a></p>
  </div>
</div>
{{ form.cnpc_accounts }}
{{ form.cnpc_start_date_time }}
{{ form.cnpc_end_date_time }}
{{ form.cnpc_display_type }}
<div class='overlay_wrapper'>
  {{ form.cnpc_link_type }}
  {{ form.cnpc_buton_label }}
  {{ form.cnpc_text_label }}
  {{ form.cnpc_upload_image }}
</div>
{{ form.cnpc_message }}
{{ form.cnpc_status }}
{{ form.cnpc_counter }}
<div class='cnpc_settings_form' id='cnpc_settings_form'>
  {{ 'Select your CONNECT campaign, choose a payment form, enter a start date and click SAVE. Copy the shortcode from Click & Pledge Form Groups page to enter on your WordPress page. Multiple forms may be added to display in order by start date. If dates overlap, the first form in the list will show.'|t }}
  <table id='custrows'>
    <tr>
      <th>{{ 'Campaign*'|t }}</th>
      <th>{{ 'Form'|t }}</th>
      <th>{{ 'Form GUID*'|t }}</th>
      <th>{{ 'Start Date/Time*'|t }}</th>
      <th>{{ 'End Date/Time'|t }}</th>
      <th>&nbsp;</th>
    </tr>
    <tbody id='dynarows'></tbody>
  </table>
  <a href='#' id='addrows'>{{ 'Add Form'|t }}</a>
</div>
<div class="cnpc_inital_buttons">
  {{ form.save }}
  <a id='resetbtn' href='{{ path('cnpconnect.form_link') }}' class='button button--reset js-form-submit form-submit'>{{ 'Close'|t }}</a>
</div>
<div class='cnpc_hide_show_buttons'>
  {{ form.final_save }}
  <a href='{{ path('cnpconnect.form_link') }}' class='button button--reset js-form-submit form-submit'>{{ 'Close'|t }}</a>
</div>