{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<a href="{{ path('cnpconnect.form_link') }}"  class="cnpc_button_link_edit">{{ 'Go back to Form Groups'|t }}</a>
<div class='tablelist_group'>
  <div>
    <table id="table_viewforms" class="table_viewforms">
      <thead>
        <tr>
          <th>{{ 'ID'|t }}</th>
          <th>{{ 'Campaign Name'|t }}</th>
          <th>{{ 'Form Name'|t }}</th>
          <th>{{ 'GUID'|t }}</th>
          <th>{{ 'Start Date/Time'|t }}</th>
          <th>{{ 'End Date/Time'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for forms in allforms %}
        <tr>
          <td>{{ forms.cnpform_id }}</td>
          <td>{{ forms.cnpform_CampaignName }}</td>
          <td>{{ forms.cnpform_FormName }}</td>
          <td>{{ forms.cnpform_GUID }}</td>
          <td>{{ forms.cnpform_FormStartDate|date('F d, Y h:i:s a') }}</td>
          <td>
            {% if forms.cnpform_FormEndDate == '0000-00-00 00:00:00' %}
            {{ '' }}
            {% else %}
            {{ forms.cnpform_FormEndDate|date('F d, Y h:i:s a') }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>