{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<a href="{{ path('cnpconnect.cnppledgetvchannels') }}" class="cnpc_button_link_edit">{{ 'Go back to Channel Groups'|t }}</a>
<div class='tablelist_group'>
  <div>
    <table id="table_viewforms" class="table_viewforms">
      <thead>
        <tr>
          <th>{{ 'ID'|t }}</th>
          <th>{{ 'Channel Name'|t }}</th>
          <th>{{ 'Start Date/Time'|t }}</th>
          <th>{{ 'End Date/Time'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for channel in channels %}
        <tr>
          <td>{{ channel.cnpchannel_id }}</td>
          <td>{{ channel.cnpchannel_channelName }}</td>
          <td>{{ channel.cnpchannel_channelStartDate|date('F d, Y h:i:s a') }}</td>
          <td>
            {% if channel.cnpchannel_channelEndDate == '0000-00-00 00:00:00' %}
            {{ '' }}
            {% else %}
            {{ channel.cnpchannel_channelEndDate|date('F d, Y h:i:s a') }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>