{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
{% if settingsdata %}
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }} </a></li>
  </ul>
</div>
{% endif %}
{{ sform.form_build_id }}
{{ sform.form_token }}
{{ sform.form_id }}
{{sform.cnpc_account_number}}
<div>
  {{ 'Please enter the Account Number of your CONNECT Account'|t }}<br/>{{ '[CONNECT > Launcher > Settings > API Information > Account ID]'|t }}<br><span class="cnpc_exists_error"></span>
</div>
{{sform.cnpc_account_guid}}
<div>
  {{ 'Please enter the Account'|t }} <a href="https://support.clickandpledge.com/s/article/how-to-locate-account-id--api-account-guid" target="_blank">{{ 'GUID'|t }}</a> {{ 'of your CONNECT Account'|t }}<br/>{{ '[CONNECT > Launcher > Settings > API Information > API (PaaS / FaaS): Account GUID].'|t }}<br/><br/>
</div>
{{sform.base_url_cnpc}}
{{sform.nickname_cnpc}}
<div class="nickname-div">
  {{sform.response_cnpc}}
</div>
{{sform.save}}
<div class="page_break"></div>
{% if settingsdata %}
<div class="tablelist">
  <div>
    <table id='table_id' class='display'>
      <thead>
        <tr>
          <th>{{ 'Nickname'|t }}</th>
          <th>{{ 'Account Number'|t }}</th>
          <th>{{ 'GUID'|t }}</th>
          <th>{{ 'Created Date/Time'|t }}</th>
          <th>{{ 'Actions'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for setdata in settingsdata %}
        <tr>
          <td>{{ setdata.cnpstngs_frndlyname }}</td>
          <td>{{ setdata.cnpstngs_AccountNumber }}</td>
          <td>{{ setdata.cnpstngs_guid }}</td>
          <td>{{ setdata.cnpstngs_Date_Created|date('F d, Y h:i:s a') }}</td>
          <td>
            <a href="{{ path('cnpconnect.cnpc_refreshaccounts', {}) }}" data-settid="{{ setdata.cnpstngs_ID }}" data-settaccid="{{ setdata.cnpstngs_AccountNumber }}" data-settguid='{{ setdata.cnpstngs_guid }}' class="refreshAccounts" id="refreshacc_{{ setdata.cnpstngs_ID }}" ><span class="refresh_icon"></span></a> &nbsp;|&nbsp; 
            <a href="{{ path('cnpconnect.cnpc_deletesettings_details', {'variable': setdata.cnpstngs_ID}) }}" class="settingsDel" id="settingsDel" data-settrecid="' . $rec->cnpstngs_ID . '"><span class="bin_icon"></span></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}