{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<div id='cnpc_myModal' class='cnpc-modal'>
  <div class='cnpc-modal-content'>
    <div class='cnpc-modal-header'>
      <span class='cnpc-close'>&times;</span>
      <h2>{{ 'URL Parameter(s)'|t }}</h2>
    </div>
    <div class='cnpc-modal-body'>
      <div class='cnpc-form-group-params'>
        {{eform.cnpc_params_textarea}}
      </div>
    </div>
    <div class='cnpc-modal-footer'>
      <div>{{ eform.cnpc_params_button_add }}</div>
      <div>{{ eform.cnpc_params_button_close }}</div>
      <div>{{ eform.cnpc_params_button_saveclose }}</div>
    </div>
    <p class='cnpc_note_text'><b>{{ 'Note:'|t }}</b> {{ 'Separate with ampersand (&)'|t }} <a target='_blank' href='https://support.clickandpledge.com/s/article/connect-url-parameters1'><b>{{ 'Read More...'|t }}</b></a></p>
  </div>
</div>
<a href="{{ path('cnpconnect.form_link') }}" class="cnpc_button_link_edit">{{ 'Go back to Form Groups'|t }}</a>
{{eform.cnpc_form_group_name}}
{{eform.hidden_fg_name}}
{{eform.cnpc_form_save_url}}
{{eform.base_url_cnpc}}
{{eform.cnpc_edit_id}}
{{eform.cnpc_action}}
{{eform.cnpc_accounts_hidden}}
{{eform.cnpc_accounts}}
{{eform.cnpc_start_date_time}}
{{eform.cnpc_end_date_time}}
{{eform.cnpc_display_type}}
<div class="overlay_wrapper">
  {{ eform.cnpc_link_type }}
  {{ eform.cnpc_buton_label }}
    {{ eform.cnpc_text_label }}
  {{ eform.cnpc_upload_image }}
  {{ eform.cnpc_upload_image_hidden }}
</div>
{{ eform.cnpc_message}}
{{ eform.cnpc_status}}
{{ eform.cnpc_counter}}
<div class="cnpc_settings_form" id="cnpc_settings_form">
  {{ 'Select your CONNECT campaign, choose a payment form, enter a start date and click SAVE. Copy the shortcode from Click & Pledge Form Groups page to enter on your WordPress page. Multiple forms may be added to display in order by start date. If dates overlap, the first form in the list will show.'|t }}
  <table id="custrows">
    <tr>
      <th>{{ 'Campaign*'|t }}</th>
      <th>{{ 'Form*'|t }}</th>
      <th>{{ 'Form GUID*'|t }}</th>
      <th>{{ 'Start Date/Time'|t }}</th>
      <th>{{ 'End Date/Time'|t }}</th>
      <th>&nbsp;</th>
    </tr>
    <tbody id="dynarows">
      {% for details in formdetails %}
      <tr id="row_{{ loop.index-1 }}">
        <td>
          <select name='cnpc_camp_list_{{ loop.index-1 }}' class='cnpc_camp_list' id='cnpc_camp_list_{{ loop.index-1 }}' data-rowindex='{{ loop.index-1 }}' data-opttext='{{ details.cnpform_CampaignName }}'>
            {% for key, value in allcampaigns %}
            <option value='{{ key }}'>{{ value }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <select name='cnpc_form_list_{{ loop.index-1 }}' class='cnpc_form_list' id='cnpc_form_list_{{ loop.index-1 }}' data-formindex='{{ loop.index-1 }}' data-opttext='{{ details.cnpform_FormName }}'>
            {% for key, value in formList[loop.index - 1] %}
            <option value='{{ key }}'>{{ value }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <input value='{{details.cnpform_GUID}}' type='text' name='formguid_{{ loop.index-1 }}' id='formguid_{{ loop.index-1 }}' disabled size='25'>
        </td>
        <td>
          <input value='{{details.cnpform_FormStartDate|date('F d, Y h:i a') }}' type='text' name='startdate_{{ loop.index-1 }}' class='cnpcstartdate' id='startdate_{{ loop.index-1 }}' size='25' />
        </td>
        <td>
          <input value='{% if details.cnpform_FormEndDate == '0000-00-00 00:00:00' %}{{ '' }}{% else %}{{ details.cnpform_FormEndDate|date('F d, Y h:i a') }}{% endif %}' type='text' name='enddate_{{ loop.index-1 }}' class='cnpcenddate' id='enddate_{{ loop.index-1 }}' size='25' />
        </td>
        <input type='hidden' name='hidden_params_{{ loop.index-1 }}' value='{{ details.cnpform_urlparameters}}' id='hidden_params_{{ loop.index-1 }}' />
        <td class='cnpc_delurl_btns'>
          <div class='cnpc_url_btn'>
            <a href='#' class='cnpc-myBtn' data-index='{{ loop.index-1 }}'>{{ 'URL'|t }}<b>+</b></a>
          </div>
          &nbsp; 
          <div class='cnpc_delete_btn'>
            <a href='{{ path('cnpconnect.cnpc_deleteform_details', {'variable': details.cnpform_id}) }}' id='deleteRec_{{ loop.index-1 }}' class='deleteRec' data-target='edit' data-caction='editform' data-recid='{{details.cnpform_id }}' data-index='{{ loop.index-1 }}'><span class='bin_icon'></span></a>
          </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href='#' id='addrows'>{{ 'Add Form'|t }}</a>
  <a href="{{ path('cnpconnect.form_link') }}" class="cnpc_button_link_bottom">{{ 'Go back to Form Groups'|t }}</a>
  <div class="cnpc_inital_buttons">
    {{eform.save}}
    <a id="resetbtn" href="{{ path('cnpconnect.form_link') }}" class="button button--reset js-form-submit form-submit">{{ 'Close'|t }}</a>
  </div>
  <div class="cnpc_hide_show_buttons">
    {{eform.final_save}}
  </div>
</div>