{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading1"></div>
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<div class="cnpc-btn-center">
  <a href="{{ path('cnpconnect.addchannelgroup') }}" class="cnpc_button_link_add">{{ 'Add New Channel Group'|t }}</a>
</div>
<div class="tablelist_group">
  <div>
    {% if allchannelgroups %}
    <table id="table_form_group" class="table_form_group">
      <thead>
        <tr>
          <th>{{ 'Group Name'|t }}</th>
          <th>{{ 'Account#'|t }}</th>
          <th>
            {{ 'Short Code'|t }} <span class="cnpc_question">&#63;</span>
            <div class="cnpc_shortcode_tooltip">{{ 'Please copy this code and place it in your required content pages, posts or any custom content types. This code will run the series of the channels which has been added to this particular channel Group inside your content page.'|t }}</div>
          </th>
          <th>{{ 'Start Date/Time'|t }}</th>
          <th>{{ 'End Date/Time'|t }}</th>
          <th>{{ 'Active Channel(s)'|t }}</th>
          <th>{{ 'Last Modified'|t }}</th>
          <th>{{ 'Status'|t }}</th>
          <th>{{ 'Actions'|t }}</th>
        </tr>
      </thead>
      <tbody>
        <!--allchannelgroups-->
        {% for chgroup in allchannelgroups %}
        <tr>
          <td>{{ chgroup.cnpchannelgrp_groupname }}</td>
          <td>{{ chgroup.cnpstngs_AccountNumber }}</td>
          <td>{{ chgroup.cnpchannelgrp_shortcode }}</td>
          <td>{{ chgroup.cnpchannelgrp_channel_StartDate|date('F d, Y h:i a') }}</td>
          <td> 
            {% if chgroup.cnpchannelgrp_channel_EndDate == '0000-00-00 00:00:00' %}
            {{ '' }}
            {% else %}
            {{ chgroup.cnpchannelgrp_channel_EndDate|date('F d, Y h:i a') }}
            {% endif %}
          
          </td>
          <td>{{ chgroup.noofforms }}</td>
          <td>{{ chgroup.cnpchannelgrp_Date_Modified|date('F d, Y h:i a') }}</td>
          <td>
            {% if chgroup.expiry_status == 'no' %}
            <a id="formstatus_{{ chgroup.cnpchannelgrp_ID }}" class='formstatus' href='{{ path('cnpconnect.cnpc_updateptvformstatus', {'variable1': chgroup.cnpchannelgrp_status, 'variable2': chgroup.cnpchannelgrp_ID}) }}' data-fgid='{{ chgroup.cnpchannelgrp_ID }}' data-fstatus='{{ chgroup.cnpchannelgrp_status }}'>{{ chgroup.cnpchannelgrp_status|t }}</a>
            {% else %}
            <a class='ptvformstatus' href=''>{{ 'Expired'|t }}</a>
            {% endif %}
          </td>
          <td>
            <a href="{{ path('cnpconnect.viewchannels', {'variable': chgroup.cnpchannelgrp_ID}) }}"><span class="view_icon"></span></a> |
            <a href="{{ path('cnpconnect.editchannels', {'variable': chgroup.cnpchannelgrp_ID}) }}"><span class="edit_icon"></span></a> | 
            <a id="deletechannelInfo" class="deletechannelInfo" data-recid="{{ chgroup.cnpchannelgrp_ID }}" href="{{ path('cnpconnect.cnpc_deletechannelgroups', {'variable': chgroup.cnpchannelgrp_ID}) }}"><span class="bin_icon"></span></a> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>