{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading1"></div>
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<div class="cnpc-btn-center"><a href="{{ path('cnpconnect.addformgroup') }}" class="cnpc_button_link_add">{{ 'Add New Form Group'|t }}</a></div>
<div class="tablelist_group">
  <div>
    {% if allgroups %}
    <table id="table_form_group" class="table_form_group">
      <thead>
        <tr>
          <th>{{ 'Group Name'|t }}</th>
          <th>{{ 'Account#'|t }}</th>
          <th>{{ 'Type'|t }}</th>
          <th>
            {{ 'Short Code'|t }} <span class="cnpc_question">&#63;</span>
            <div class="cnpc_shortcode_tooltip">{{ 'Please copy this code and place it in your required content pages, posts or any custom content types. This code will run the series of the forms which has been added to this particular Form Group inside your content page.'|t }}</div>
          </th>
          <th>{{ 'Start Date/Time'|t }}</th>
          <th>{{ 'End Date/Time'|t }}</th>
          <th>{{ 'Active Form(s)'|t }}</th>
          <th>{{ 'Last Modified'|t }}</th>
          <th>{{ 'Status'|t }}</th>
          <th>{{ 'Actions'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for cgroup in allgroups %}
        <tr>
          <td>{{ cgroup.cnpform_groupname }}</td>
          <td>{{ cgroup.cnpform_AccountNumber }}</td>
          <td><span class="cnpform_type">{{ cgroup.cnpform_type }}</span></td>
          <td>{{ cgroup.cnpform_shortcode }}</td>
          <td>{{ cgroup.cnpform_Form_StartDate|date('F d, Y h:i a') }}</td>
          <td>
            {% if cgroup.cnpform_Form_EndDate == '0000-00-00 00:00:00' %}
            {{ '' }}
            {% else %}
            {{ cgroup.cnpform_Form_EndDate|date('F d, Y h:i a') }}
            {% endif %}
          </td>
          <td>{{ cgroup.noofforms }}</td>
          <td>{{ cgroup.cnpform_Date_Modified|date('F d, Y h:i a') }}</td>
          <td>
            {% if cgroup.expiry_status == 'no' %}
            <a id="formstatus_{{ cgroup.cnpform_GID }}" class='formstatus' href='{{ path('cnpconnect.cnpc_update_form_status', {'variableone': cgroup.cnpform_status, 'variabletwo': cgroup.cnpform_GID}) }}' data-fgid='{{ cgroup.cnpform_GID }}' data-fstatus='{{ cgroup.cnpform_status }}'>{{ cgroup.cnpform_status|t }}</a>
            {% else %}
            <a class="formstatus">{{ 'Expired'|t }}</a>
            {% endif %}
          </td>
          <td>
            <a href="{{ path('cnpconnect.viewforms', {'variable': cgroup.cnpform_GID}) }}"><span class="view_icon"></span></a> |
            <a href="{{ path('cnpconnect.editforms', {'variable': cgroup.cnpform_GID}) }}"><span class="edit_icon"></span></a> | 
            <a id="deleteFormInfo" class="deleteFormInfo" data-recid="{{ cgroup.cnpform_GID }}" href="{{ path('cnpconnect.cnpc_deleteformgroups', {'variable': cgroup.cnpform_GID}) }}"><span class="bin_icon"></span></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>