{{ attach_library('clickandpledge_connect/cnpconnect.styles') }}
<div class="cnp_heading">
  <ul>
    <li><a href="{{ path('cnpconnect.cnpcf_formshelp') }}">{{ 'Click & Pledge'|t }}</a></li>
    <li><a href="{{ path('cnpconnect.form_link') }}">{{ 'Form Groups'|t }}</a></li>
    <li><a class="cnpccurrent" href="{{ path('cnpconnect.cnppledgetvchannels') }}">{{ 'pledgeTV'|t }} <sup class="cnpc-regsymbol">&reg;</sup></a></li>
    <li><a href="{{ path('cnpconnect.account_settings_form') }}">{{ 'Settings'|t }}</a></li>
  </ul>
</div>
<a href="{{ path('cnpconnect.cnppledgetvchannels') }}" class="cnpc_button_link_edit">{{ 'Go back to Channel Groups'|t }}</a>
<div class="cnp_heading1"></div>
{{ecform.cnpc_channel_group_name}}
{{ecform.hidden_fg_name}}
{{ecform.cnpc_channel_save_url}}
{{ecform.base_url_cnpc}}
{{ecform.cnpc_edit_id}}
{{ecform.cnpc_action}}
{{ecform.cnpc_accounts_hidden}}
{{ecform.cnpc_accounts}}
{{ecform.cnpc_start_date_time}}
{{ecform.cnpc_end_date_time}}
{{ecform.cnpc_message}}
{{ecform.cnpc_status}}
{{ecform.cnpcchnl_counter}}
<div class="cnpc_settings_form" id="cnpc_settings_form">
  <ol>
    <li>{{ 'Select your Channel, enter a start date and click SAVE.'|t }}</li>
    <li>{{ 'Copy the "shortcode" from pledgeTV'|t }}<sup class='cnpc-regsymbol'>&reg;</sup> {{ 'Channels page, to your Drupal page. Multiple Channels may be added. Channels will display in order of start date. If start dates overlap, the first Channel in the list will show first.'|t }}</li>
  </ol>
  <table id="custchnlrows">
    <tr>
      <th>{{ 'Channel*'|t }}</th>
      <th>{{ 'Start Date/Time*'|t }}</th>
      <th>{{ 'End Date/Time'|t }}</th>
      <th>&nbsp;</th>
    </tr>
    <tbody id="dynachnlrows">
      {% for details in formdetails %}
      <tr id="row_{{ loop.index-1 }}">
        <td>
          <select name='cnpc_chnl_list_{{ loop.index-1 }}' class='cnpc_chnl_list' id='cnpc_chnl_list_{{ loop.index-1 }}' data-rowindex='{{ loop.index-1 }}' data-opttext='{{ details.cnpchannel_channelName }}'>
            {% for key, value in channellist %}
            <option value='{{ key }}'>{{ value }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <input value='{{ details.cnpchannel_channelStartDate|date('F d, Y h:i a') }}' type='text' name='chnlstartdate_{{ loop.index-1 }}' class='chnlstartdate' id='chnlstartdate_{{ loop.index-1 }}' size='25'>
        </td>
        <td>
          <input value='{% if details.cnpchannel_channelEndDate == '0000-00-00 00:00:00' %}{{ '' }}{% else %}{{ details.cnpchannel_channelEndDate|date('F d, Y h:i a') }}{% endif %}' type='text' name='chnlenddate_{{ loop.index-1 }}' size='25' id='chnlenddate_{{ loop.index-1 }}' class='chnlenddate'>
        </td>
        <td>
          <a href='{{ path('cnpconnect.cnpc_deletetvform_details', {'variable': details.cnpchannel_id}) }}' id='deleteRec_{{ loop.index-1 }}' class='deleteRec' data-target='edit' data-caction='edittv' data-recid='{{ details.cnpchannel_id }}' data-index='{{ loop.index-1 }}'><span class='bin_icon'></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="#" id="addchannelrows">{{ 'Add Channel'|t }}</a>
</div>
<div><a href="{{ path('cnpconnect.cnppledgetvchannels') }}" class="cnpc_button_link_bottom">{{ 'Go back to Channel Groups'|t }}</a></div>
<div class="cnpc_inital_buttons">
  {{ ecform.save}}
  <a href="{{ path('cnpconnect.cnppledgetvchannels') }}" class="button button--reset js-form-submit form-submit">{{ 'Close'|t }}</a>
</div>
<div class="cnpc_hide_show_buttons">
  {{ ecform.final_save }}
</div>